---
import Layout from '@/layouts/Layout.astro';
import Users from '@/components/Board/Users.astro';
import Header from '@/components/Board/Header.astro';
import Canvas from '@/components/Board/Canvas.astro';
import Interaction from '@/components/Board/Interaction.astro';
---
<Layout title="Gartic | Board">
  <div id="__next">
    <div class="nextCenter">
      <div id="content">
          <div id="screenRoom" class="common blur">
            <div class="content">
              <Header />
              <div class="ctt">
                <Users />
                <Canvas />
                <Interaction />
            </div>
          </div>
      </div>
    </div>
  </div>
</Layout>

<style>

#__next {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 100%;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#__next,
.nextCenter {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}
.nextCenter {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

#content {
  position: relative;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
}
#content,
.screenSystem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#screenRoom .content {
  width: 1150px;
  height: 754px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#screenRoom .ctt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 1fr;
  grid-template-columns: 340px 1fr;
  -ms-grid-rows: 458px 1fr;
  grid-template-rows: 458px 1fr;
  -ms-grid-gap: 23px 25px;
  grid-template-areas: "a b" "a c";
}
</style>