---
import Header from "@/components/Board/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pinturillo | Inicio">
  <Header />
  <div id="background"></div>
  <div id="mainLayout">
    <div class="nextCenter">
      <div id="content">
        <div style="transform: scale(1)">
          <div id="screenRoom" class="common blur">
            <div class="content">
              <div class="ctt">
                <div class="users-tools">
                  <div id="users">
                    <div class="scroll over top">
                      <div class="scrollElements">
                        <ul>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                        </ul>
                        <div
                          class="user first you"
                          style="transform: translate3d(0px, 0px, 0px);"
                        >
                          <div class="avatar">
                            <div class="av avt0"></div>
                          </div><div class="infosPlayer">
                            <span class="nick">User7243</span><span
                              class="points">0<i> pts</i></span
                            ><div class="nextDrawOwner">
                              <span class="owner">Anfitrión</span>
                            </div>
                          </div>
                        </div>

                        <div
                          class="user empty"
                          style="transform: translate3d(0px, 70px, 0px);"
                        >
                          <div class="avatar"></div><div class="infosPlayer">
                            <span class="nick">Vacío</span>
                          </div>
                        </div>

                        <div
                          class="user empty"
                          style="transform: translate3d(0px, 140px, 0px);"
                        >
                          <div class="avatar"></div><div class="infosPlayer">
                            <span class="nick">Vacío</span>
                          </div>
                        </div>
                      </div>
                      <div class="scrollBar">
                        <div
                          class="scrollTrack"
                          style="top: 4px;height: 245.577px;"
                        >
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="tools" class="rmOne">
                    <div>
                      <ul class="">
                        <li id="op0" class="tool active"></li><li
                          id="op1"
                          class="tool"
                        >
                        </li><li id="op2" class="tool"></li><li
                          id="op3"
                          class="tool"
                        >
                        </li><li id="op4" class="tool"></li><li
                          id="op5"
                          class="tool"
                        >
                        </li><li id="op6" class="tool"></li><li
                          id="op7"
                          class="tool"
                        >
                        </li><li id="op8" class="tool"></li><li
                          id="clean"
                          class="tool"
                        >
                        </li><li id="undo" class="inactive"></li><li
                          id="repeat"
                          class="inactive"
                        >
                        </li>
                      </ul>
                      <div class="colors">
                        <div>
                          <div
                            class="color active"
                            style="background-color: rgb(0, 0, 0);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(102, 102, 102);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(0, 23, 246);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 255, 255);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(170, 170, 170);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(38, 201, 255);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(0, 141, 38);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(169, 35, 12);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(150, 65, 18);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(0, 255, 77);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 0, 19);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 120, 41);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(176, 112, 28);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(153, 0, 78);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(147, 104, 103);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 201, 38);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 0, 143);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(254, 175, 168);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(0, 217, 163);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(133, 178, 0);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(128, 0, 255);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(5, 44, 108);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(185, 115, 255);"
                          >
                          </div><div
                            class="color"
                            style="background-color: rgb(255, 247, 63);"
                          >
                          </div>
                        </div><div>
                          <div
                            id="colorSelected"
                            style="background-color: rgb(0, 0, 0);"
                          >
                          </div><label id="colorsRange" for="colorRangeInput"
                            ><input
                              id="colorRangeInput"
                              type="color"
                              name="color"
                              value="#000000"
                            /></label
                          >
                        </div>
                      </div>
                      <div class="opacity-size">
                        <div class="size">
                          <input
                            name="size"
                            type="range"
                            min="1"
                            max="50"
                            step="1"
                            value="4"
                          />
                        </div><div class="opacity">
                          <input
                            name="opacity"
                            type="range"
                            min="0.1"
                            max="1"
                            step="0.1"
                            value="1"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="canvas">
                  <div id="drawing">
                    <canvas
                      width="767"
                      height="448"
                      style="width: 767px; height: 448px;"></canvas><canvas
                      width="767"
                      height="448"
                      style="position: absolute; z-index: 1; top: 0px; left: 0px; width: 767px; height: 448px;"
                    ></canvas>
                  </div>
                  <div id="events" style="cursor: default;"></div>
                </div>
                <div id="interaction">
                  <div id="answer">
                    <h5>RESPUESTAS</h5>
                    <div class="history">
                      <div class="scroll over bottom">
                        <div class="scrollBar">
                          <div
                            class="scrollTrack"
                            style="top: 47px; height: 30px;"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                    <form>
                      <div class="textGame">
                        <input
                          type="text"
                          name="answer"
                          class="mousetrap"
                          placeholder="Responde aquí..."
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          maxlength="100"
                          enterkeyhint="send"
                          value="Tu turno"
                          disabled=""
                        /><span></span><label
                          >tab<span class="tooltip"
                            >Presione "tab" para activar el texto</span
                          ></label
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script src="../scripts/board.js"></script>

<style>
  #background {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  user agent stylesheet div {
    display: block;
  }
  body,
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Nunito;
    color: #fff;
  }
  #background:before {
    background-image: url(/src/static/images/textura.png);
    content: "";
    width: 200%;
    display: block;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    height: 200%;
    -webkit-transform: translate(-50%, -50%) rotate(345deg);
    -moz-transform: translate(-50%, -50%) rotate(345deg);
    -ms-transform: translate(-50%, -50%) rotate(345deg);
    -o-transform: translate(-50%, -50%) rotate(345deg);
    transform: translate(-50%, -50%) rotate(345deg);
  }

  .nextCenter {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
  }
  #__next,
  .nextCenter {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
  }

  #content,
  .screenSystem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  #content {
    position: relative;
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
  }

  #screenRoom {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    min-width: 860px;
    min-height: 560px;
  }
  #screenRoom .content {
    width: 1150px;
    height: 754px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #screenRoom .ctt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 1fr;
    grid-template-columns: 340px 1fr;
    -ms-grid-rows: 458px 1fr;
    grid-template-rows: 458px 1fr;
    -ms-grid-gap: 23px 25px;
    grid-template-areas:
      "a b"
      "a c";
  }

  #screenRoom .ctt .users-tools {
    width: 100%;
    height: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-area: a;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row-span: 2;
    overflow: hidden;
  }

  .scroll:before {
    top: 5px;
    border-top-right-radius: 10px;
    background: -moz-linear-gradient(
      top,
      rgba(159, 189, 201, 0.7) 0,
      rgba(159, 189, 201, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(159, 189, 201, 0.7),
      rgba(159, 189, 201, 0)
    );
    background: linear-gradient(
      180deg,
      rgba(159, 189, 201, 0.7) 0,
      rgba(159, 189, 201, 0)
    );
  }
  .scroll:after,
  .scroll:before {
    content: "";
    display: none;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    z-index: 10;
  }

  #screenRoom .ctt .users-tools #users .scroll .scrollElements {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
  }

  .scroll .scrollElements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 5px 0;
  }

  #screenRoom .ctt .users-tools #users {
    z-index: 2;
    width: 65%; /* cambiar como se ven los users */
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    background-color: #fff;
    border: 1px solid #979797;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #screenRoom .ctt .users-tools #users .scroll {
    z-index: 3;
    margin: 0;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
  }
  .scroll {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    min-height: 0;
    overflow: hidden;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #screenRoom .ctt .users-tools #users .user:not(.empty) {
    cursor: pointer;
  }

  #screenRoom .ctt .users-tools #users .user {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }

  #screenRoom .ctt .users-tools #users .user:before {
    content: "";
    width: 25px;
    height: 27px;
    font-size: 27px;
    text-align: center;
    margin-left: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  #screenRoom .ctt .users-tools #users .user .avatar {
    width: 62px;
    height: 62px;
    margin: 0 10px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 4px #043173;
    position: relative;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
  }

  #screenRoom .ctt .users-tools #users .user .avatar .av {
    width: 62px;
    height: 78px;
  }
  .avt0 {
    background-image: url(src/static/images/avatar/0.svg);
  }
  .av {
    position: absolute;
    bottom: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #screenRoom .ctt .users-tools #users .user .infosPlayer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    max-width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #screenRoom .ctt .users-tools #users .user.you .infosPlayer .nick {
    font-family: NunitoBlack;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .nick {
    color: #797979;
    font-family: NunitoBold;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
  }

  #screenRoom .ctt .users-tools #users .user .infosPlayer .points {
    color: #043173;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: NunitoBlack;
  }

  #screenRoom .ctt .users-tools #users .user .infosPlayer .nextDrawOwner,
  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 22px;
    padding: 0 10px 0 3px;
    background-color: #0a7dfb;
    font-family: nunitoBold;
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.41px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    line-height: 16px;
    margin: 3px 5px 0 0;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .nextDrawOwner,
  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner:before {
    content: "\E966";
    font-family: ico;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin: 0 5px 0 0;
    background-size: cover;
  }
  #screenRoom .ctt .users-tools #users .empty {
    -webkit-transform: translate3d(0, 74px, 0);
    -moz-transform: translate3d(0, 74px, 0);
    -ms-transform: translate3d(0, 74px, 0);
    -o-transform: translate3d(0, 74px, 0);
    transform: translate3d(0, 74px, 0);
  }
  #screenRoom .ctt .users-tools #users .user,
  #screenRoom .ctt .users-tools #users .user:before {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  #screenRoom .ctt .users-tools #users .user:before {
    content: "";
    width: 25px;
    height: 27px;
    font-size: 27px;
    text-align: center;
    margin-left: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  #screenRoom .ctt .users-tools #users .empty .avatar {
    box-shadow: 0 0 0 4px #789bb0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  #screenRoom .ctt .users-tools #users .user .avatar {
    width: 62px;
    height: 62px;
    margin: 0 10px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 4px #043173;
    position: relative;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
  }

  #screenRoom .ctt .users-tools #users .empty .avatar:before {
    content: "\E93E";
    font-family: ico;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9fbdc9;
    font-size: 53px;
    margin: 6px 0 0;
  }

  #screenRoom .ctt .users-tools #users .empty .infosPlayer .nick {
    color: #9fbdc9;
  }

  #screenRoom .ctt .users-tools,
  #screenRoom .ctt .users-tools #users {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  #screenRoom .ctt .users-tools #users ul {
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
  }

  #screenRoom .ctt .users-tools #users ul li {
    height: 94px;
    border-bottom: 1px solid rgba(120, 155, 176, 0.34);
  }

  #screenRoom .ctt .users-tools #users .scroll .scrollBar {
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
  }
  .scroll.over .scrollBar {
    width: 15px;
  }
  .scroll .scrollBar {
    position: relative;
    z-index: 11;
    width: 0;
    overflow: hidden;
  }

  #screenRoom .scroll .scrollBar .scrollTrack {
    background-color: rgba(120, 155, 176, 0.5);
  }
  .scroll .scrollBar .scrollTrack {
    position: relative;
    top: 0;
    left: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 0;
    width: 6px;
    background-color: #386d84;
  }

  .scroll:after {
    bottom: 5px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    background: -moz-linear-gradient(
      top,
      rgba(159, 189, 201, 0) 0,
      rgba(159, 189, 201, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(159, 189, 201, 0),
      rgba(159, 189, 201, 0.7)
    );
    background: linear-gradient(
      180deg,
      rgba(159, 189, 201, 0) 0,
      rgba(159, 189, 201, 0.7)
    );
  }
  .scroll:after,
  .scroll:before {
    content: "";
    display: none;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    z-index: 10;
  }

  #screenRoom .ctt .users-tools #tools,
  #screenRoom .ctt .users-tools #tools > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #screenRoom .ctt .users-tools #tools {
    width: 140px;
    background-color: #132d85;
    border: 2px solid #006fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    top: 0;
    bottom: 0;
    right: 12px;
    position: absolute;
    z-index: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
  }

  #screenRoom .ctt .users-tools #tools > div {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 82px;
    margin: 10px 14px;
  }
  #screenRoom .ctt .users-tools #tools ul {
    flex-direction: row;
    list-style-type: none;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  #screenRoom .ctt .users-tools #tools ul li:nth-child(odd) {
    border-right: 2px solid #006fff;
  }

  ul {
    list-style-type: disc;
  }

  #screenRoom .ctt .users-tools #tools ul li {
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    border-bottom: 2px solid #006fff;
  }
  #screenRoom .ctt .users-tools #tools ul,
  #screenRoom .ctt .users-tools #tools ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
  }

  #screenRoom .ctt .users-tools #tools ul li#op0:before {
    content: "\E930";
    font-size: 26px;
  }

  #screenRoom .ctt .users-tools #tools ul li.active:before,
  #screenRoom .ctt .users-tools #tools ul li:active:before,
  #screenRoom .ctt .users-tools #tools ul li:hover:before {
    color: #f8c034;
  }

  #screenRoom .ctt .users-tools #tools ul li:before {
    content: "0";
    font-family: ico;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #068cff;
    font-size: 28px;
  }
  #screenRoom .ctt .users-tools #tools ul li:before {
    content: "0";
    font-family: ico;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #068cff;
    font-size: 28px;
  }

  #screenRoom .ctt .users-tools #tools .colors,
  #screenRoom .ctt .users-tools #tools .colors > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
  }
  #screenRoom .ctt .users-tools #tools .colors {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 2px solid #006fff;
    -webkit-align-self: stretch;
    -moz-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }

  #screenRoom .ctt .users-tools #tools .colors > div:first-of-type {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #screenRoom .ctt .users-tools #tools .colors > div {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin: 10px 0;
  }
  #screenRoom .ctt .users-tools #tools .colors,
  #screenRoom .ctt .users-tools #tools .colors > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:first-child {
    background-color: #000;
  }
  #screenRoom .ctt .users-tools #tools .colors .color.active,
  #screenRoom .ctt .users-tools #tools .colors .color:active,
  #screenRoom .ctt .users-tools #tools .colors .color:hover {
    box-shadow: 0 0 0 2px #f9c136;
    border-color: #00356f;
  }
  #screenRoom .ctt .users-tools #tools .colors .color {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #0a1e41;
    margin: 2px 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(2) {
    background-color: #666;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(3) {
    background-color: #0017f6;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(4) {
    background-color: #fff;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(5) {
    background-color: #aaa;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(6) {
    background-color: #26c9ff;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(7) {
    background-color: #008d26;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(8) {
    background-color: #a9230c;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(9) {
    background-color: #964112;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(10) {
    background-color: #00ff4d;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(11) {
    background-color: #ff0013;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(12) {
    background-color: #ff7829;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(13) {
    background-color: #b0701c;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(14) {
    background-color: #99004e;
  }

  #screenRoom .ctt .users-tools #tools .colors .color:nth-child(15) {
    background-color: #936867;
  }

  #screenRoom .ctt .users-tools #tools #colorsRange {
    width: 34px;
    height: 34px;
    border: none;
    background: 0 0;
    background-image: url(/src/static/images/colors.png);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #screenRoom .ctt .users-tools #tools #colorsRange #colorRangeInput {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  #screenRoom .ctt .users-tools .opacity-size {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 18px 0 0;
    position: relative;
    width: 100%;
    height: 152px;
  }

  #screenRoom .ctt .users-tools .opacity-size > div.size {
    right: -17px;
  }
  #screenRoom .ctt .users-tools .opacity-size > div {
    position: absolute;
    height: 20px;
    width: 152px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 65px;
  }

  #screenRoom .ctt .users-tools .opacity-size > div.size:before {
    background-color: #fff;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after,
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    right: 0;
  }

  #screenRoom .ctt .users-tools .opacity-size input[type="range"] {
    height: 3px;
    -webkit-appearance: none;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #screenRoom .ctt .users-tools .opacity-size > div.size:after {
    width: 7px;
    height: 7px;
    background-color: #fff;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after {
    left: 0;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after,
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #screenRoom .ctt .users-tools .opacity-size > div.opacity {
    left: -17px;
  }
  #screenRoom .ctt .users-tools .opacity-size > div {
    position: absolute;
    height: 20px;
    width: 152px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 65px;
  }

  #screenRoom .ctt .users-tools .opacity-size > div.opacity:before {
    background-color: #fff;
    width: 13px;
    height: 13px;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after,
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    right: 0;
  }

  #screenRoom .ctt .users-tools .opacity-size input[type="range"] {
    height: 3px;
    -webkit-appearance: none;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #screenRoom .ctt .users-tools .opacity-size > div.opacity:after {
    width: 11px;
    height: 11px;
    border: 2px solid #fff;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after {
    left: 0;
  }
  #screenRoom .ctt .users-tools .opacity-size > div:after,
  #screenRoom .ctt .users-tools .opacity-size > div:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #screenRoom .ctt #canvas {
    margin: 0 0 0 23px;
    height: 458px;
    position: relative;
    grid-area: b;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    background-color: #fff;
    border: 1px solid #979797;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #screenRoom .ctt #canvas #drawing {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: url(/static/images/marcadagua.svg?v=1);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
  }
  #screenRoom .ctt #canvas #drawing,
  #screenRoom .ctt #canvas #events {
    width: 100%;
    height: 100%;
  }

  #screenRoom .ctt #canvas canvas {
    width: 785px !important;
    height: 458px !important;
  }

  #screenRoom .ctt #canvas #events {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #screenRoom .ctt #canvas #drawing,
  #screenRoom .ctt #canvas #events {
    width: 100%;
    height: 100%;
  }

  #screenRoom .ctt #interaction {
    margin: 25px 0 0 23px;
    grid-area: c;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    min-height: 0;
    min-width: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #979797;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #screenRoom .ctt #interaction #answer {
    margin: 0 0 0 20px;
    z-index: 4;
  }
  #screenRoom .ctt #interaction #answer,
  #screenRoom .ctt #interaction #chat {
    z-index: 3;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    min-width: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #screenRoom .ctt #interaction #answer h5,
  #screenRoom .ctt #interaction #chat h5 {
    min-width: 110px;
    max-width: calc(100% - 30px);
    padding: 0 7px;
    height: 34px;
    background-color: #0b2990;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    position: absolute;
    top: -14px;
    right: 15px;
    font-family: NunitoBlack;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
  }

  #screenRoom .ctt #interaction #answer .history,
  #screenRoom .ctt #interaction #chat .history {
    margin: 17px 0 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 0;
  }

  .textGame,
  .textGame span:not(.tooltip) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .textGame {
    min-width: 150px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
  }

  .textGame input[type="text"]:disabled,
  .textGame input[type="text"]:focus {
    width: calc(100% - 40px);
    padding: 0 0 0 40px;
  }
  .textGame input[type="text"] {
    width: calc(100% - 80px);
    height: 37px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
    padding: 0 40px;
    font-size: 18px;
    z-index: 2;
  }
  input[type="email"]:disabled,
  input[type="text"]:disabled {
    border-color: #a9c8d3;
    color: #a9c8d3;
    -webkit-text-fill-color: #a9c8d3;
    background-color: #fff;
    opacity: 1;
  }
  input[type="email"],
  input[type="text"] {
    border: 2px solid #868d96;
    font-family: NunitoBold;
    font-size: 18px;
    color: #797979;
  }
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="text"],
  select,
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    -webkit-touch-callout: auto;
    -moz-touch-callout: auto;
    -ms-touch-callout: auto;
    -o-touch-callout: auto;
    touch-callout: auto;
  }

  .textGame input[type="text"]:disabled + span {
    color: #a9c8d3;
  }
  input[type="email"]:disabled + span,
  input[type="text"]:disabled + span {
    color: #a9c8d3;
  }
  .textGame span:not(.tooltip) {
    position: absolute;
    width: 22px;
    height: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
    left: 10px;
    color: #868d96;
    text-align: center;
  }
  .textGame,
  .textGame span:not(.tooltip) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .textGame span:not(.tooltip):before {
    content: "\E92F";
    font-family: ico;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 20px;
  }

  screenRoom.blur .textGame label {
    display: none !important;
  }
  .textGame input[type="text"]:disabled ~ label,
  .textGame input[type="text"]:focus ~ label {
    display: none;
  }
  .textGame label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #868d96;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    z-index: 3;
    color: #868d96;
    padding: 2px;
  }

  #screenRoom .ctt #interaction #answer form label .tooltip,
  #screenRoom .ctt #interaction #chat form label .tooltip {
    top: -38px;
    bottom: auto;
    z-index: 5;
  }
  .tooltip,
  .tooltip:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .tooltip {
    font-family: NunitoBold;
    font-size: 14px;
    color: #fff;
    background-color: #042c70;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    bottom: -36px;
    z-index: 6;
    opacity: 0;
    display: none;
    z-index: 10;
    text-transform: none;
  }
</style>
