---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Buttons from '@/components/Buttons.astro'
import Title from '@/components/Title.astro'
import Footer from '@/components/Footer.astro'
---
<Layout title="Gartic | Rooms">
  <div id="__next">
    <div class="nextCenter">
      <canvas id="fundo" width="1186" height="961" style="width: 1186px; height: 961px"></canvas>
      <div class="banner"><div id="gartic-io_160x600_2"></div></div>
      <div id="content">
        <div style="transform: scale(1)">
          <div class="screenSystem">
            <div id="screens">

              <Header />

              <div>
                <div class="title">
                  <div class="searcher">
                    <a href="/">
                      <button class="back"></button>
                    </a>
                    <form action="/buscar" method="get" class="search-form">
                      <div class="search-box">
                          <i class="fa fa-search"></i>
                          <input type="text" name="q" placeholder="buscar" />
                      </div>
                  </form>
                  </div>
                  <div class="tittleP">
                    <div class="gTitle">
                      <h2>Mesas</h2>
                    </div>
                  </div>

                  <div class="filter">
                    
                  </div>
                </div>
                
                <div class="content bg rooms">
                  <div class="titleChoose">ELIGE UNA MESA</div>
                  <div class="scroll over top">
                    <div class="scrollElements">
                      <a href="https://gartic.io/33215R" class="official"><div class="figure" style="
                            background-image: url('/static/images/subjects/2.svg?v=1');
                          ">
                          <div class="iconOfficial">
                            <span class="tooltip">Oficial</span>
                          </div>
                        </div>
                        <h5><strong>Logos</strong>#15R</h5>
                        <div class="infosRoom">
                          <div class="users ic-user full">
                            <span>5/5</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>74/100</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/3331Yn" class=""><div class="figure" style="
                            background-image: url('/static/images/subjects/3.svg?v=1');
                          "></div>
                        <h5><strong>Banderas</strong>#1Yn</h5>
                        <div class="infosRoom">
                          <div class="users ic-user">
                            <span>4/7</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>67/70</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/3314dD" class="official"><div class="figure" style="
                            background-image: url('/static/images/subjects/1.svg?v=1');
                          ">
                          <div class="iconOfficial">
                            <span class="tooltip">Oficial</span>
                          </div>
                        </div>
                        <h5><strong>General</strong>#4dD</h5>
                        <div class="infosRoom">
                          <div class="users ic-user">
                            <span>8/15</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>0/120</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/3322iA" class=""><div class="figure" style="
                            background-image: url('/static/images/subjects/2.svg?v=1');
                          "></div>
                        <h5><strong>Animales</strong>#2iA</h5>
                        <div class="infosRoom">
                          <div class="users ic-user">
                            <span>5/7</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>28/180</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/33g1i9" class=""><div class="figure" style="
                            background-image: url('/static/images/subjects/16.svg?v=1');
                          "></div>
                        <h5><strong>Youtubers</strong>#1i9</h5>
                        <div class="infosRoom">
                          <div class="users ic-user">
                            <span>4/7</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>108/120</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/33mUmO" class=""><div class="figure" style="
                            background-image: url('/static/images/subjects/22.svg?v=1');
                          "></div>
                        <h5><strong>Dragon Ball</strong>#UmO</h5>
                        <div class="infosRoom">
                          <div class="users ic-user">
                            <span>4/50</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>23/240</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/33jps8" class="bgEmptyRoom"><div class="figure" style="
                            background-image: url('/static/images/subjects/19.svg?v=1');
                          "></div>
                        <h5><strong>Clash Royale</strong>#ps8</h5>
                        <div class="infosRoom">
                          <div class="users ic-user emptyRoom">
                            <span>0/9</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>0/120</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a><a href="https://gartic.io/33b1AI" class="bgEmptyRoom"><div class="figure" style="
                            background-image: url('/static/images/subjects/11.svg?v=1');
                          "></div>
                        <h5><strong>LoL</strong>#1AI</h5>
                        <div class="infosRoom">
                          <div class="users ic-user emptyRoom">
                            <span>0/5</span><span class="tooltip">Jugadores</span>
                          </div>
                          <div class="users ic-lang">
                            <span>es</span><span class="tooltip">Idioma</span>
                          </div>
                          <div class="points ic-trophy">
                            <span>0/240</span><span class="tooltip">Puntos</span>
                          </div>
                        </div></a>
                    </div>
                    <div class="scrollBar">
                      <div class="scrollTrack" style="top: 5px; height: 30px"></div>
                    </div>
                  </div>
                </div>
                <div class="actions actRooms">
                  <Buttons titleBluebt="NUEVA MESA" titleYellowbt="JUEGA"/>
                </div>
              </div>
              <Footer />
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</Layout>

<style>
button {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.ic-user:before {
  content: "\E90C";
}
.ic-trophy:before,
.ic-user:before {
  font-family: ico;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-trophy:before {
  content: "\E90B";
}
.ic-lang:before {
  content: "\E916";
}
.ic-lang:before,
.ic-theme:before {
  font-family: ico;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  cursor: pointer;
  margin: 22px 0 0;
}
.back:before {
  content: "";
  background-image: url(/src/static/images/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 30px;
  height: 34px;
}
.back:hover:before {
  background-image: url(/src/static/images/backHover.svg);
}
.back:active:before {
  background-image: url(/src/static/images/backActive.svg);
  background-position: 0 5px;
}
#__next {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 100%;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#__next,
.nextCenter {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}
.nextCenter {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
#fundo {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
}
#content,
.screenSystem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.screenSystem {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  min-height: 810px;
  min-width: 1112px;
}
#screens {
  z-index: 2;
  width: 1058px;
  height: 790px;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#screens > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
  margin: 10px 0;
  padding: 20px 20px 0;
  background-color: #fff;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
#screens > div,
#screens > div .mask {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#screens .title,
#screens .title > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
#screens .title > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#screens .content.bg {
  background-color: #9fbdc9;
  border: 1px solid #5d8899;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.actions {
  height: 70px;
  min-height: 70px;
  margin: 10px 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.tooltip {
  font-family: NunitoBold;
  font-size: 14px;
  color: #fff;
  background-color: #042c70;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  bottom: -36px;
  z-index: 6;
  opacity: 0;
  display: none;
  z-index: 10;
  text-transform: none;
}
.tooltip,
.tooltip:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tooltip:after {
  top: -8px;
  content: "";
  border-color: transparent transparent #042c70;
  border-style: solid;
  border-width: 0 10px 15px;
  z-index: -1;
}

.gTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 370px;
  height: 84px;
  margin: 0 20px;
  background-image: url(/src/static/images/title.png);
  background-position: 50%;
  background-repeat: no-repeat;
}
.gTitle h2 {
  max-width: 270px;
  padding: 0 5px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: NunitoBlack;
  text-align: center;
  font-size: 24px;
  line-height: 2;
  color: #ffbf00;
  letter-spacing: 0;
  margin: 12px 0 0;
  text-shadow: 0 -1px 0 #fffa6d, #001b51 3px 0 0, #001b51 2.83487px 0.981584px 0,
    #001b51 2.35766px 1.85511px 0, #001b51 1.62091px 2.52441px 0,
    #001b51 0.705713px 2.91581px 0, #001b51 -0.287171px 2.98622px 0,
    #001b51 -1.24844px 2.72789px 0, #001b51 -2.07227px 2.16926px 0,
    #001b51 -2.66798px 1.37182px 0, #001b51 -2.96998px 0.42336px 0,
    #001b51 -2.94502px -0.571704px 0, #001b51 -2.59586px -1.50383px 0,
    #001b51 -1.96093px -2.27041px 0, #001b51 -1.11013px -2.78704px 0,
    #001b51 -0.137119px -2.99686px 0, #001b51 0.850987px -2.87677px 0,
    #001b51 1.74541px -2.43999px 0, #001b51 2.44769px -1.73459px 0,
    #001b51 2.88051px -0.838247px 0;
}

header:not(.game) .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
header:not(.game) .logo.internal {
  margin: 10px 0;
}
header:not(.game) .logo.internal figure {
  width: 215px;
  height: 45px;
  background-size: contain;
}
header:not(.game) .logo figure {
  width: 254px;
  height: 53px;
  background-image: url(/static/images/new/gartic.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.scroll {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  min-height: 0;
  overflow: hidden;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.scroll:after,
.scroll:before {
  content: "";
  display: none;
  width: 100%;
  height: 7px;
  position: absolute;
  left: 0;
  z-index: 10;
}
.scroll:before {
  top: 5px;
  border-top-right-radius: 10px;
  background: -moz-linear-gradient(
    top,
    rgba(159, 189, 201, 0.7) 0,
    rgba(159, 189, 201, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(159, 189, 201, 0.7),
    rgba(159, 189, 201, 0)
  );
  background: linear-gradient(
    180deg,
    rgba(159, 189, 201, 0.7) 0,
    rgba(159, 189, 201, 0)
  );
}
.scroll:after {
  bottom: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  background: -moz-linear-gradient(
    top,
    rgba(159, 189, 201, 0) 0,
    rgba(159, 189, 201, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(159, 189, 201, 0),
    rgba(159, 189, 201, 0.7)
  );
  background: linear-gradient(
    180deg,
    rgba(159, 189, 201, 0) 0,
    rgba(159, 189, 201, 0.7)
  );
}
.scroll .scrollBar {
  position: relative;
  z-index: 11;
  width: 0;
  overflow: hidden;
}
.scroll .scrollBar .scrollTrack {
  position: relative;
  top: 0;
  left: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 0;
  width: 6px;
  background-color: #386d84;
}
.scroll .scrollElements {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  margin: 5px 0;
}
.scroll.over .scrollBar {
  width: 15px;
}
.scroll.bottom:before,
.scroll.middle:after,
.scroll.middle:before,
.scroll.top:after {
  display: block;
}

.rooms .titleChoose {
  display: none;
}
.rooms .emptyList p {
  color: #718c96;
  font-size: 17px;
  font-family: NunitoBlack;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase;
  width: auto;
}

.rooms .scroll .scrollElements {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px 0;
}

.rooms .scroll a:not(.emptyList):not(.loading) {
  width: 226px;
  height: 180px;
  background-color: #fff;
  border: 7px solid #fff;
  margin: 2px 0 8px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 5px 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.rooms .scroll a:not(.emptyList):not(.loading):hover {
  border-color: rgba(0, 121, 255, 0.7);
  background-color: #eefdff;
}
.rooms .scroll a:not(.emptyList):not(.loading).selected {
  border-color: #0a5efb;
}
.rooms .scroll a:not(.emptyList):not(.loading).bgEmptyRoom {
  background-color: #e4edef;
  border-color: #e4edef;
}
.rooms .scroll a:not(.emptyList):not(.loading).bgEmptyRoom:hover {
  border-color: rgba(0, 121, 255, 0.7);
}
.rooms .scroll a:not(.emptyList):not(.loading).bgEmptyRoom.selected {
  border-color: #0a5efb;
}
.rooms .scroll a:not(.emptyList):not(.loading) h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-weight: 100;
  margin: 10px 0 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: Nunito;
  font-size: 18px;
  color: #797979;
}
.rooms .scroll a:not(.emptyList):not(.loading) h5 strong {
  font-family: NunitoBlack;
  margin-right: 5px;
  font-size: 19px;
  color: #797979;
}
.rooms .scroll a:not(.emptyList):not(.loading) .figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  width: 72px;
  height: 72px;
  margin: 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #012442;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #9fbdc9;
}
.rooms .scroll a:not(.emptyList):not(.loading) .figure .iconOfficial {
  position: absolute;
  right: -36px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rooms .scroll a:not(.emptyList):not(.loading) .figure .iconOfficial:after {
  content: "\E909";
  font-family: ico;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  margin-left: 3px;
  color: #0a5efb;
}

.rooms
  .scroll
  a:not(.emptyList):not(.loading)
  .figure
  .iconOfficial
  .tooltip:after {
  top: auto;
  bottom: -12px;
  content: "";
  border-width: 15px 10px 0;
  border-color: #042c70 transparent transparent;
}
.rooms
  .scroll
  a:not(.emptyList):not(.loading)
  .figure
  .iconOfficial:hover
  .tooltip {
  opacity: 1;
  display: block;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom,
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div {
  width: 55px;
  color: #868d96;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div .tooltip {
  top: -32px;
  bottom: auto;
  text-transform: none;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div .tooltip:after {
  top: auto;
  bottom: -12px;
  content: "";
  border-width: 15px 10px 0;
  border-color: #042c70 transparent transparent;
}
.rooms
  .scroll
  a:not(.emptyList):not(.loading)
  .infosRoom
  > div
  span:not(.tooltip) {
  font-family: NunitoBold;
  font-size: 15px;
  color: #797979;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div:before {
  width: 32px;
  height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  color: #0a5efb;
  font-size: 26px;
  margin-bottom: 5px;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div.ic-lang {
  margin: 0 20px;
  text-transform: uppercase;
}
.rooms
  .scroll
  a:not(.emptyList):not(.loading)
  .infosRoom
  > div.ic-trophy:before {
  font-size: 25px;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom > div:hover .tooltip {
  opacity: 1;
  display: block;
}
.rooms .scroll a:not(.emptyList):not(.loading) .infosRoom.infos {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: NunitoBlack;
  letter-spacing: 1px;
}
.searcher {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

.search-form {
  margin: auto; 
  display: flex;
  align-items: center;
  border: 3px solid #07070787;
  padding: 5px;
  border-radius: 8px;
  width: 60%; 
  height: 30%;
  
}
.search-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
}
.search-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.search-box .fa-search {
    margin-right: 10px;
    color: black;
}

.search-box input[type="text"] {
    border: none;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 8px; 
}

.search-form input[type="text"]:focus {
    border-color: #4A90E2;
}

.search-box button {
    display: none;
    
    font-size: 18px;
    
}
.figure{
    background-image: url(https://gartic.io/static/images/subjects/2.svg?v=1);
}

</style>