---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="flex flex-column flex-initial w-[full] h-[730px] items-center justify-center content-center relative"
>
  <div class="w-[902px] h-[602px]">
    <header
      class="w-[902px] h-[92px] px-[15px] py-0 justify-between items-center bg-blue-600"
    >
      <div
        class="flex flex-row place-content-center w-[872px] h-[92px] items-end justify-between"
      >
        <div class="flex flex-column w-[275px] h-10 pr-[90px] items-center m-0">
          <h5 class="block ms-0 text-xs text-white font-black">
            Obtén las aplicaciones!
          </h5>
          <span class="flex mt-1 content-between items-stretch">
            <a
              class="ic-gPlay text-white mr-3 font-black"
              href="https://play.google.com/store/apps/details?id=io.gartic.Gartic"
            >
              <p class="block text-white mt-1 ms-0 me-0">ANDROID</p>
            </a>

            <a
              class="ic-appStore text-white mr-3 font-black"
              href="https://apps.apple.com/br/app/gartic/id1491169356"
            >
              <p class="block text-white mt-1 ms-0 me-0">IOS</p>
            </a>
          </span>
        </div>

        <div class="flex flex-column items-center w-[254px] h-[79px]">
          <figure class="block ms-10 me-10">
            <img
              class="w-[254px] h-[53px] max-w-72"
              src="https://gartic.io/static/images/new/gartic.svg"
              alt="Gartic"
            />
          </figure>
          <span
            class="text-lg mt-2 text-white font-black pl-0.5 text-center w-[201px] h-[79px] max-w-72"
          >
            DRAW, GUESS, WIN!
          </span>
        </div>

        <div class="flex-item">
          <h1>Box 3</h1>
        </div>
      </div>
    </header>
  </div>
</div>
