---

---

<div id="screenRoom" class="common blur">
  <div class="ctt">
    <div class="content">
      <div id="canvas">
        <div id="drawing">
          <canvas width="767" height="448" style="width: 767px; height: 448px"
          ></canvas><canvas
            width="767"
            height="448"
            style="
              position: absolute;
              z-index: 1;
              top: 0px;
              left: 0px;
              width: 767px;
              height: 448px;
            "
          ></canvas>
        </div>
        <div id="events"></div>
      </div>
    </div>
  </div>
</div>

<style>
  #screenRoom .content {
    width: 810px;
    height: 754px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #screenRoom .ctt #canvas {
    margin: 0 0 0 23px;
    height: 458px;
    position: relative;
    grid-area: b;
    background-color: #fff;
    border: 1px solid #979797;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }

  #screenRoom .ctt #canvas #drawing {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-image: url(/static/images/marcadagua.svg?v=1);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
  }

  #screenRoom .ctt #canvas #drawing,
  #screenRoom .ctt #canvas #events {
    width: 100%;
    height: 100%;
  }

  #screenRoom .ctt #canvas canvas {
    width: 785px !important;
    height: 458px !important;
  }

  canvas {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  #screenRoom .ctt #canvas #events {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
</style>
