---

---

<div id="screenRoom" class="common blur">
  <div class="content">
    <div class="ctt">
      <div class="users-tools">
        <div id="tools" class="rmOne">
          <div>
            <ul class="">
              <li id="op0" class="tool active"></li><li id="op1" class="tool">
              </li><li id="op2" class="tool"></li><li id="op3" class="tool">
              </li><li id="op4" class="tool"></li><li id="op5" class="tool">
              </li><li id="op6" class="tool"></li><li id="op7" class="tool">
              </li><li id="op8" class="tool"></li><li id="clean" class="tool">
              </li><li id="undo" class="inactive"></li><li
                id="repeat"
                class="inactive"
              >
              </li>
            </ul>
            <div class="colors">
              <div>
                <div
                  class="color active"
                  style="background-color: rgb(0, 0, 0);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(102, 102, 102);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(0, 23, 246);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 255, 255);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(170, 170, 170);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(38, 201, 255);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(0, 141, 38);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(169, 35, 12);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(150, 65, 18);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(0, 255, 77);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 0, 19);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 120, 41);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(176, 112, 28);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(153, 0, 78);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(147, 104, 103);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 201, 38);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 0, 143);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(254, 175, 168);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(0, 217, 163);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(133, 178, 0);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(128, 0, 255);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(5, 44, 108);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(185, 115, 255);"
                >
                </div><div
                  class="color"
                  style="background-color: rgb(255, 247, 63);"
                >
                </div>
              </div><div>
                <div id="colorSelected" style="background-color: rgb(0, 0, 0);">
                </div><label id="colorsRange" for="colorRangeInput"
                  ><input
                    id="colorRangeInput"
                    type="color"
                    name="color"
                    value="#000000"
                  /></label
                >
              </div>
            </div>
            <div class="opacity-size">
              <div class="size">
                <input
                  name="size"
                  type="range"
                  min="1"
                  max="50"
                  step="1"
                  value="4"
                />
              </div><div class="opacity">
                <input
                  name="opacity"
                  type="range"
                  min="0.1"
                  max="1"
                  step="0.1"
                  value="1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #screenRoom .content {
    width: 1150px;
    height: 754px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
</style>
