---

---

<div id="screenRoom" class="common blur">
  <div class="content">
    <div class="ctt">
      <div class="users-tools">
        <div id="users">
          <div class="scroll over top">
            <div class="scrollElements">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>

              <div
                class="user first you"
                style="transform: translate3d(0px, 0px, 0px)"
              >
                <div class="avatar">
                  <div class="av avt0"></div>
                </div>
                <div class="infosPlayer">
                  <span class="nick">User000</span><span class="points"
                    >0<i> pts</i></span
                  >
                  <div class="nextDrawOwner">
                    <span class="owner">Anfitrión</span>
                  </div>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 95px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 190px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 285px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 380px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 475px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 570px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 665px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>

              <div
                class="user empty"
                style="transform: translate3d(0px, 760px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 855px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 950px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 1045px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 1140px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 1235px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
              <div
                class="user empty"
                style="transform: translate3d(0px, 1330px, 0px)"
              >
                <div class="avatar"></div>
                <div class="infosPlayer">
                  <span class="nick">Vacío</span>
                </div>
              </div>
            </div>
            <div class="scrollBar">
              <div class="scrollTrack" style="top: 4px; height: 328.045px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .av {
    position: absolute;
    bottom: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .avt0 {
    background-image: url(/src/static/images/avatar/0.svg);
  }

  .scroll {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    min-height: 0;
    overflow: hidden;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .scroll:after,
  .scroll:before {
    content: "";
    display: none;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .scroll:before {
    top: 5px;
    border-top-right-radius: 10px;
    background: -moz-linear-gradient(
      top,
      rgba(159, 189, 201, 0.7) 0,
      rgba(159, 189, 201, 0) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(159, 189, 201, 0.7),
      rgba(159, 189, 201, 0)
    );
    background: linear-gradient(
      180deg,
      rgba(159, 189, 201, 0.7) 0,
      rgba(159, 189, 201, 0)
    );
  }
  .scroll:after {
    bottom: 5px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    background: -moz-linear-gradient(
      top,
      rgba(159, 189, 201, 0) 0,
      rgba(159, 189, 201, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(159, 189, 201, 0),
      rgba(159, 189, 201, 0.7)
    );
    background: linear-gradient(
      180deg,
      rgba(159, 189, 201, 0) 0,
      rgba(159, 189, 201, 0.7)
    );
  }
  .scroll .scrollBar {
    position: relative;
    z-index: 11;
    width: 0;
    overflow: hidden;
  }
  .scroll .scrollBar .scrollTrack {
    position: relative;
    top: 0;
    left: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 0;
    width: 6px;
    background-color: #386d84;
  }
  .scroll .scrollElements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin: 5px 0;
  }
  .scroll.over .scrollBar {
    width: 15px;
  }

  #screenRoom .content {
    width: 1150px;
    height: 754px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #screenRoom .content.turn .users-tools #users {
    width: calc(100% - 120px);
  }
  #screenRoom .content.turn .users-tools #users .user .infosPlayer {
    width: 75px;
  }
  #screenRoom .content.fadeOut .ctt #canvas #hint,
  #screenRoom .content.fadeOut .ctt #canvas #time {
    z-index: 1;
    opacity: 0.3;
  }

  #screenRoom .scroll .scrollBar .scrollTrack {
    background-color: rgba(120, 155, 176, 0.5);
  }

  #screenRoom .ctt {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 1fr;
    grid-template-columns: 340px 1fr;
    -ms-grid-rows: 458px 1fr;
    grid-template-rows: 458px 1fr;
    -ms-grid-gap: 23px 25px;
    grid-template-areas: "a b" "a c";
  }
  #screenRoom .ctt .users-tools {
    width: 340px;
    height: 100%;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-area: a;
    -ms-grid-row-span: 2;
    overflow: hidden;
  }
  #screenRoom .ctt .users-tools,
  #screenRoom .ctt .users-tools #users {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  #screenRoom .ctt .users-tools #users {
    z-index: 2;
    width: 100%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    background-color: #fff;
    border: 1px solid #979797;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  }
  #screenRoom .ctt .users-tools #users .scroll {
    z-index: 3;
    margin: 0;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
  }
  #screenRoom .ctt .users-tools #users .scroll:before {
    top: 0;
  }
  #screenRoom .ctt .users-tools #users .scroll:after {
    bottom: 0;
  }
  #screenRoom .ctt .users-tools #users .scroll .scrollElements {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
  }
  #screenRoom .ctt .users-tools #users .scroll .scrollBar {
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
  }
  #screenRoom .ctt .users-tools #users ul {
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
  }
  #screenRoom .ctt .users-tools #users ul li {
    height: 94px;
    border-bottom: 1px solid rgba(120, 155, 176, 0.34);
  }
  #screenRoom .ctt .users-tools #users ul li:last-child {
    background-image: none;
  }
  #screenRoom .ctt .users-tools #users .user:not(.empty) {
    cursor: pointer;
  }

  #screenRoom .ctt .users-tools #users .user {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  #screenRoom .ctt .users-tools #users .user,
  #screenRoom .ctt .users-tools #users .user:before {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  #screenRoom .ctt .users-tools #users .user:before {
    content: "";
    width: 25px;
    height: 27px;
    font-size: 27px;
    text-align: center;
    margin-left: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  #screenRoom .ctt .users-tools #users .user.first .avatar:after,
  #screenRoom .ctt .users-tools #users .user.second .avatar:after,
  #screenRoom .ctt .users-tools #users .user.third .avatar:after {
    content: "";
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: -4px;
    right: -5px;
    background-color: #ffc926;
  }
  #screenRoom .ctt .users-tools #users .user.second .avatar:after {
    background-color: #bbb;
  }
  #screenRoom .ctt .users-tools #users .user.third .avatar:after {
    background-color: #d96d00;
  }
  #screenRoom .ctt .users-tools #users .user.you .infosPlayer .nick {
    font-family: NunitoBlack;
  }
  #screenRoom .ctt .users-tools #users .user.turn:before {
    content: "\E92F";
    font-family: ico;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #1a66ff;
  }
  #screenRoom .ctt .users-tools #users .user.turn .infosPlayer .nick,
  #screenRoom .ctt .users-tools #users .user.turn .infosPlayer .points {
    color: #1a66ff;
  }
  #screenRoom .ctt .users-tools #users .user.turn .avatar {
    box-shadow: 0 0 0 3px #1a66ff;
  }
  #screenRoom .ctt .users-tools #users .user.hit:before {
    content: "\E922";
    font-family: ico;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #17a847;
    font-size: 22px;
  }
  #screenRoom .ctt .users-tools #users .user.hit .avatar {
    box-shadow: 0 0 0 3px #17a847;
  }
  #screenRoom .ctt .users-tools #users .user .avatar {
    width: 62px;
    height: 62px;
    margin: 0 10px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 4px #043173;
    position: relative;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
  }
  #screenRoom .ctt .users-tools #users .user .avatar .av {
    width: 62px;
    height: 78px;
  }

  #screenRoom .ctt .users-tools #users .user .avatar .ignored {
    width: 94%;
    height: 94%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #screenRoom .ctt .users-tools #users .user .avatar .ignored:before {
    content: "\E946";
    font-family: ico;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    max-width: 185px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .nick {
    color: #797979;
    font-family: NunitoBold;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .points {
    color: #043173;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: NunitoBlack;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .points i {
    font-style: normal;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .nextDraw {
    font-family: NunitoBold;
    font-size: 16px;
    color: #0a7dfb;
    text-align: left;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.46px;
  }
  #screenRoom .ctt .users-tools #users .user .infosPlayer .nextDrawOwner,
  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 22px;
    padding: 0 10px 0 3px;
    background-color: #0a7dfb;
    font-family: nunitoBold;
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.41px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    line-height: 16px;
    margin: 3px 5px 0 0;
  }
  #screenRoom
    .ctt
    .users-tools
    #users
    .user
    .infosPlayer
    .nextDrawOwner
    .owner:before {
    content: "\E966";
    font-family: ico;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin: 0 5px 0 0;
    background-size: cover;
  }
  #screenRoom .ctt .users-tools #users .user .pointsTurn {
    width: 32px;
    height: 27px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-family: NunitoBlack;
    font-size: 15px;
    color: #16a846;
    opacity: 1;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    text-align: center;
    -webkit-animation-name: ptsTurn;
    -moz-animation-name: ptsTurn;
    -ms-animation-name: ptsTurn;
    -o-animation-name: ptsTurn;
    animation-name: ptsTurn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  #screenRoom .ctt .users-tools #users .user .pointsTurn.removePts {
    color: #d92438;
  }
  #screenRoom .ctt .users-tools #users .empty {
    -webkit-transform: translate3d(0, 74px, 0);
    -moz-transform: translate3d(0, 74px, 0);
    -ms-transform: translate3d(0, 74px, 0);
    -o-transform: translate3d(0, 74px, 0);
    transform: translate3d(0, 74px, 0);
  }
  #screenRoom .ctt .users-tools #users .empty .avatar {
    box-shadow: 0 0 0 4px #789bb0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  #screenRoom .ctt .users-tools #users .empty .avatar:before {
    content: "\E93E";
    font-family: ico;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #9fbdc9;
    font-size: 53px;
    margin: 6px 0 0;
  }
  #screenRoom .ctt .users-tools #users .empty .infosPlayer .nick {
    color: #9fbdc9;
  }
</style>
